:root {
  --yellow: #fcbd0a;
  --dark-blue: #051e46;
  --grey: #9a9a9a;
  --light-grey: #eeeeee;
  --bluwish-grey: #3e4c57;
  --bg-grey: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

.content {
  margin: auto;
  padding: 25px;
}

.col-lg-3 {
  padding: 0;
}

.btn1 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--yellow);
  border-radius: 0;
  padding: 12px 25px;
  margin: 0 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.btn1:hover {
  color: var(--dark-blue);
  background-color: var(--yellow);
  transform: scale(1.05);
}

.btn2 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  border-radius: 0;
  padding: 12px 25px;
  margin: 0 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.btn2:hover {
  color: var(--yellow);
  background-color: var(--dark-blue);
  transform: scale(1.05);
}

.btn3 {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--grey);
  border-radius: 0;
  padding: 12px 25px;
  margin: 0 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.btn3:hover {
  color: #fff;
  background-color: var(--dark-blue);
  transform: scale(1.05);
}

.h3-2 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--dark-blue);
  letter-spacing: 2px;
  text-align: center;
}

.nav-link {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark-blue);
  margin: 0 12px;
}

.dropdown-item {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-blue);
  margin: 5px 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 150px 40px 0;
}

.header-section .row {
  margin-top: 25px;
  align-items: center;
}

.col-lg-6 {
  padding: 0;
}

.vl {
  width: 2px;
  height: 10px;
  background-color: var(--yellow);
  margin-right: 15px;
}

.txt1 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--dark-blue);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txt2 {
  font-size: 54px;
  font-weight: 400;
  color: var(--dark-blue);
  line-height: 0;
  padding-top: 50px;
}

.txt3 {
  font-size: 48px;
  font-weight: 800;
  color: var(--yellow);
  line-height: 0;
  padding: 50px 0;
}

.p1 {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-blue);
}

.p2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey);
  margin: 0;
}

.header-content .p1 {
  padding-bottom: 50px;
}

.hero-img {
  background-color: antiquewhite;
  width: 115%;
  height: 500px;
  margin-left: -10%;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.hero-img img {
  position: absolute;
  left: -150;
  top: -150;
}

.page-number {
  color: #fff;
  background-color: var(--yellow);
  padding: 25px 60px;
  width: fit-content;
}

.page-number span {
  margin-right: 15px;
}

.welcome-section {
  padding: 50px 0;
  height: fit-content;
}

.welcome-section .row {
  align-items: center;
}

.welcome-content-1 {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 0 50px;
}

.welcome-img-1 {
  position: relative;
  width: 200px;
  height: 270px;
  background-color: blue;
  overflow: hidden;
  top: 100px;
}

.welcome-img-1 img {
  width: inherit;
}

.welcome-img-2 {
  position: relative;
  width: 280px;
  height: 330px;
  background-color: red;
  overflow: hidden;
  left: -50px;
  z-index: -1;
}

.welcome-img-2 img {
  position: absolute;
  width: 500;
  left: -150;
  top: 0;
}

.client-count {
  position: relative;
  color: #fff;
  background-color: #fcbd0a;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 30px;
  height: fit-content;
  left: -100px;
  top: 250px;
}

.client-count-txt1 {
  font-size: 30px;
  font-weight: 400;
}

.client-count-txt2 {
  font-size: 18px;
  font-weight: 500;
}

.welcome-content-2 {
  padding: 0 50px;
}

.h3-1 {
  font-size: 36px;
  font-weight: 500;
  color: var(--dark-blue);
}

.yellow {
  color: var(--yellow);
}

.welcome-content-2 .p1 {
  margin: 20px 0;
}

.welcome-content-2 .p2 {
  margin-bottom: 50px;
}

.service-section {
  padding: 50px 0;
  height: fit-content;
}

.service-title {
  text-align: center;
  font-weight: 600;
  color: var(--yellow);
}

.service-title1 {
  font-size: 20px;
}

.service-title2 {
  font-size: 36px;
}

.service-row {
  padding: 50px 0;
}

.service-content {
  background-color: #fff;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.service-content-left {
  background-color: red;
  width: 50%;
  height: inherit;
  overflow: hidden;
}

.service-content-right {
  padding: 40px 20px;
  width: 50%;
  height: inherit;
  overflow: hidden;
}

.service-sub-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-blue);
  line-height: 50px;
}

.readmore {
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.readmore i {
  font-size: 20px;
  margin-right: 10px;
}

.service-content-1 {
  margin-right: auto;
}

.service-content-1 img {
  position: relative;
  top: -60%;
}

.service-content-2 {
  margin-left: auto;
}

.service-content-2 img {
  width: auto;
}

.service-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.service-bottom-text {
  width: fit-content;
}

.service-bottom-text .p2 {
  margin-bottom: 0;
}

.service-bottom-text span {
  color: var(--dark-blue);
}

.service-bottom-text span i {
  margin-left: 10px;
}

.service-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}

.d1 {
  width: 10px;
  height: 10px;
  background-color: var(--grey);
  border-radius: 50%;
  margin: 0 5px;
}

.border-dot {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 3px solid var(--yellow);
}

/* Stats Section */
.stats-section {
  padding: 50px 0;
}

.stat-content {
  position: relative;
  text-align: center;
}

.bigNo {
  position: relative;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 3px 3px rgba(5, 30, 70, 0.4);
  letter-spacing: 5px;
}

.statistics {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 25%;
  left: 25%;
  top: 30;
}

.stat-number {
  color: var(--dark-blue);
  font-size: 36px;
  font-weight: 600;
}

.stat-text {
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 600;
  height: fit-content;
  padding: 0 25px;
}

/* Testimonial Section */
.testimonial-section {
  padding: 50px 0;
}

.testimonial-section .h3-2 {
  text-align: left;
}

.p3 {
  color: var(--grey);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.review-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  background-color: var(--light-grey);
  margin: 50px 50px 0 auto;
  padding: 40px 0;
}

.comma {
  position: relative;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  background-color: var(--yellow);
  padding: 25px;
  margin-left: -25px;
}

.review-container .p2 {
  /* background-color: #fcbd0a; */
  padding: 0 20px 0 75px;
  margin: 0;
}

.reason-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
}

.hr1 {
  background-color: var(--grey);
  margin: 0;
  height: 2px;
  border: none;
}

.reasons {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  align-items: center;
}

.fa-square-plus {
  font-size: 20px;
  color: var(--dark-blue);
  margin-left: auto;
}

/* Clients Section */
.clients {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  padding: 25px 0;
}

.client-logo-container {
  width: 250px;
  height: 120px;
  display: flex;
  align-items: center;
}

.client-logo {
  margin: auto;
}

/* News Section */

.news-section {
  padding: 50px 0;
}

.news-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 180px;
  margin: 25px auto;
  transition: transform 0.5s ease;
}

.news-container:hover {
  transform: scale(1.05);
}

.news-container:hover #aaa {
  background-color: var(--yellow);
}

.news-img {
  width: 50%;
  height: 100%;
  background-color: red;
  overflow: hidden;
}

.news-content {
  width: 50%;
  padding: 25px 15px;
  background-color: var(--bg-grey);
  transition: transform 0.5s ease;
}

.p4 {
  color: var(--bluwish-grey);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.news-info {
  display: flex;
  flex-direction: row;
}

.fa-comments {
  margin: 0 10px;
}

.p5 {
  color: var(--bluwish-grey);
  font-size: 14px;
  font-weight: 500;
}

.publish-date {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background-color: var(--bluwish-grey);
  padding: 5px 10px;
}

.publish-date .p4 {
  color: #fff;
  margin: 0;
  text-align: center;
}

.publish-date .p5 {
  color: #fff;
  margin: 0;
  text-align: center;
}

.news-img1,
.news-img2,
.news-img3,
.news-img4 {
  width: -webkit-fill-available;
  width: -moz-available;
}

/* Footer Section */
.footer-section {
  background-color: var(--yellow);
  padding: 50px 0;
}

.first-row-1 .h3-2 {
  text-align: left;
}

.footer-section .p2 {
  color: #fff;
}

.p6 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.first-row-2 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: auto;
}

.enter-email {
  padding: 20px;
  padding-right: 150px;
  margin-right: 10px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  outline: none;
}

.btn4 {
  color: #fff;
  background-color: var(--dark-blue);
  padding: 20px 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.btn4:hover {
  transform: scale(1.05);
}

.second-row {
  padding: 75px 0;
}

.second-row-1,
.second-row-2,
.second-row-3,
.second-row-4 {
  padding: 0 15px 0 0;
}

.h3-3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-blue);
}

.hr2 {
  border-top: dotted 5px #fff;
  width: 50%;
  margin: 20px 0 50px;
}

.footer-aboutus-info {
  margin: 25px 0;
}

.time-ago {
  margin: 25px 0;
}

.customer-services {
  margin: 20px 0;
}

.sq {
  width: 90%;
  background-color: red;
  height: 90px;
  margin: 10px;
  overflow: hidden;
}

.sq img {
  width: auto;
}

.third-row {
  display: flex;
  align-items: center;
}

.footer-icons {
  width: fit-content;
  margin-left: auto;
}

.footer-icon {
  font-size: 25px;
  color: #fff;
  margin-left: 15px;
}

.fa-up-long {
  color: var(--yellow);
  font-size: 25px;
  background-color: #fff;
  padding: 10px;
  float: right;
  margin-right: 25px;
}

@media only screen and (max-width: 850px) {
  .content {
    padding: 0 25px;
  }

  .header-content {
    padding: 25px;
  }

  .header-content .p1 {
    padding: 10px 0 0;
  }

  .txt2 {
    font-size: 48px;
    line-height: 50px;
  }

  .txt3 {
    padding: 30px 0;
  }

  .page-number {
    display: none;
  }

  /* Welcome Section */

  .welcome-section {
    padding: 25px 0;
  }

  .welcome-content-1 {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: initial;
  }

  .welcome-img-1 {
    top: 0;
    width: initial;
    margin-bottom: 20px;
  }

  .welcome-img-1 img {
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .welcome-img-2 {
    left: 0;
    width: auto;
    margin-bottom: 20px;
  }

  .welcome-img-2 img {
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .client-count {
    top: 0;
    left: 0;
  }

  .welcome-content-2 {
    padding: 25px;
    text-align: center;
  }

  .welcome-content-2 .p2 {
    margin-bottom: 25px;
  }

  /* Service Section */
  .service-row {
    padding-bottom: 0;
  }

  .service-content {
    flex-direction: column;
    height: 500px;
  }

  .service-content-left {
    width: 100%;
    height: 50%;
  }

  .service-content-right {
    width: 100%;
    height: 50%;
  }

  .service-content-1,
  .service-content-2 {
    margin: 0 auto 50px;
  }

  .service-content-1 img {
    top: -90%;
  }

  .service-content-2 img {
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .service-bottom {
    flex-direction: column-reverse;
    text-align: center;
  }

  .service-dots {
    margin: 0 auto 20px;
  }

  /* Stats Section */
  .statistics {
    margin: auto;
  }

  /* Testimonial Section */
  .testimonial-section .h3-2,
  .p3 {
    text-align: center;
  }

  .testimonial-right {
    padding: 0 25px;
  }

  .review-container {
    margin: 50px auto;
  }

  /* Clients Section */
  .clients {
    flex-direction: column;
    align-items: center;
  }

  /* News Section */
  .news-container {
    flex-direction: column;
    height: 400px;
  }

  .news-img {
    width: 100%;
    height: 50%;
  }

  .news-content {
    width: 100%;
    height: 50%;
  }

  .first-row-1 .h3-2 {
    text-align: center;
  }

  .footer-section .p2 {
    text-align: center;
  }

  .first-row-2 {
    flex-direction: column;
    margin: auto;
  }

  .enter-email {
    width: 90%;
    margin: 25px auto 0;
  }

  .btn4 {
    width: 90%;
    margin: 10px auto 0;
  }

  .h3-3 {
    text-align: center;
  }

  .hr2 {
    margin: 20px auto;
  }

  .second-row {
    text-align: center;
  }

  .second-row-1,
  .second-row-2,
  .second-row-3 {
    padding: 0;
    margin-bottom: 75px;
  }

  .second-row-4 {
    display: none;
  }

  .sq {
    margin: 10px auto;
  }

  .footer-icons {
    margin: auto;
  }
}
